body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    transition: all 0.5s ease;
}

/* Style La Plateforme_ activé après le code Konami */
body.laplateforme {
    background-color:#0062ff;
    color:#ffffff;;
}

body.laplateforme::before {
    content: "Bienvenue à La Plateforme_";
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 50px;
    background-color: #ffffff;
        -webkit-background-clip: text;
        /* Applique le dégradé au texte */
        -webkit-text-fill-color: transparent;
        /* Rend le texte transparent pour voir le dégradé */
        background-clip: text;
}

body.laplateforme::after {
    content: "Code Konami activé !";
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 20px;
}